body{
  background-color: black;
}
// Scroll Bar
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.559);
}
// back ground container
.background-container {
  background-color: black;
  position: relative;
  // NAV STYLE
  // bars style
  .navbar-toggler-icon {
    background-color: rgba(175, 7, 10, 0.759);
    border-radius: 5px;
  }
  // Link nav bar style
  .navbar-collapse {
    .nav-item {
      a {
        color: white;
      }
      a:hover {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
  .header-container {
    .video-container {
      video {
        width: 100%;
        height: 65vh;
      }
    }
  }
  img {
    width: 210px;
    height: 80px;
  }
  // MAIN STYLE
  .main-container {
    // height: 300px;
    p {
      font-size: 25px;
    }
    .img-container {
      img {
        height: 300px;
      }
    }
    .empty {
      position: relative;
      overflow: hidden;
      .fa-angle-left {
        color: rgba(43, 125, 197, 0.614);
        position: absolute;
        top: 150px;
        font-size: 60px;
      }
      .fa-angle-right {
        color: rgba(43, 125, 197, 0.614);
        position: absolute;
        top: 150px;
        right: 0px;
        font-size: 60px;
      }
    }
  }
  .Popular-image {
    font-size: 3px;
    img {
      height: 300px;
    }
  }
  .trending-container {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .comedy-container {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .modal-body {
    video {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .tv-shows{
    img {
      height: 300px;
    }
  }
}
.trailer-YouTube{
  // display: flex;
  // justify-content: center;
  // width: 100%;
}
.search-container{
  font-size: 3px;
  img {
    height: 300px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
// FOOTER STYLE
.footer-container {
  height: 250px;
}
